<app-joke-list>
    <app-joke [joke]="joke">
        <span class="setup">{{ joke.setup }}?</span>
        <h1 class="punchline">{{ joke.punchline }}</h1>
    </app-joke>
</app-joke-list>

<!--<app-carousel [delay]="2000">-->
    <!--<app-carousel-item>-->
        <!--<img width="500px" src="https://upload.wikimedia.org/wikipedia/commons/1/15/Recipe_logo.jpeg" alt="">-->
    <!--</app-carousel-item>-->
    <!--<app-carousel-item>-->
        <!--<img width="500px" src="https://imagesvc.timeincapp.com/v3/mm/image?url=http%3A%2F%2Fcdn-image.myrecipes.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2Fbest-ever-seafood-gumbo-sl.jpg%3Fitok%3D-pTK0I90&w=700&q=85" alt="">-->
    <!--</app-carousel-item>-->
    <!--<app-carousel-item>-->
        <!--<img width="500px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmEfqLpH_tUWnMqwKf21YUv8V3iRKdsC9wtTv1WiLB9wOga-u6" alt="">-->
    <!--</app-carousel-item>-->
<!--</app-carousel>-->

<app-ng-switch-example></app-ng-switch-example>

<app-ng-for-example></app-ng-for-example>

<app-ng-if-example></app-ng-if-example>

<app-ng-style-example></app-ng-style-example>

<app-ng-class-example></app-ng-class-example>

<app-ng-non-bindable-example></app-ng-non-bindable-example>